SECRET_KEY=test
DEBUG=True
#postgres ishlatish uchun sozlamalar
DB_NAME=DB_NAME
DB_USER=db_user
DB_PASSWORD=judayam_kuchli_password
DB_HOST=db_host,localhost


CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=email_manzil
EMAIL_HOST_PASSWORD=email_google_app-password 


