{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}  {{user.username}}  {% endblock title %}


{% block content %}

    <div class=" image d-flex flex-column justify-content-center align-items-center">
        <div class="text-center my-3">
    <img src="{{ user.photo.url }}" 
         alt="Profile picture" 
         class="rounded-circle img-thumbnail border-primary shadow-sm" 
         style="width: 120px; height: 120px; object-fit: cover;">
</div>
        <span class="name mt-3">{{ user.first_name }} {{ user.last_name }}</span>
        <span class="idd"><strong>Username:</strong> @{{ user.username }}</span>
        <span class="idd"><strong>Email:</strong> {{ users.email }}</span>
        <p><strong>Ism:</strong> 
        {% if users.first_name %}{{ users.first_name }}{% else %}<span class="text-muted">Kiritilmagan</span>{% endif %}
    </p>
    
    <p><strong>Familiya:</strong> 
        {% if users.last_name %}{{ users.last_name }}{% else %}<span class="text-muted">Kiritilmagan</span>{% endif %}
    </p>
        <div class=" px-2 rounded mt-4 date "> <span class="join">Joined {{ users.date_joined | date:"M d, Y" }}</span> </div>
    </div>


    
    

    <a href="#" class="btn btn-secondary">Xabar yuborish</a>
    
    <a href="#" class="btn btn-secondary">Do'stlar qatoriga qo'shish</a>
    <hr>
</div>
<hr>

<div class="container mt-5">
    <div class="row g-4">

        {% for blog in post %}
        <div class="col-md-6 col-lg-4">

            <div class="card h-100 shadow rounded-3">

                {% if blog.cover_media %}

                    {% if blog.cover_media.media_type == "image" %}

                        <img src="{{ blog.cover_media.file.url }}"
                             class="card-img-top"
                             alt="{{ blog.title }}"
                             style="height:220px; object-fit:cover;">

                    {% elif blog.cover_media.media_type == "video" %}

                        <video class="card-img-top"
                               style="height:220px; object-fit:cover;"
                               controls>
                            <source src="{{ blog.cover_media.file.url }}">
                        </video>

                    {% endif %}

                {% endif %}

                <div class="card-body d-flex flex-column">

                    

                    <h5 class="card-title">
                        {{ blog.title }}
                    </h5>

                    <p class="card-text">
                        {{ blog.content|truncatechars:100 }}
                    </p>

                    <a href="{% url 'post-detail' blog.id %}" class="btn btn-primary mt-auto">
                        Batafsil
                    </a>
                    
                </div>

            </div>

        </div>
        {% endfor %}

    </div>
</div>


{% endblock %}
